<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.ActivityMapper">

    <sql id="Base_Column_List">
        id,img,name,description,department_id,time
    </sql>

    <select id="selectAll" resultType="com.example.entity.Activity">
        select activity.*, department.name as departmentName
        from activity
        left join department on activity.department_id = department.id
        <where>
            <if test="id != null"> and id= #{id}</if>
            <if test="name != null"> and activity.name like concat('%', #{name}, '%')</if>
            <if test="img != null"> and img= #{img}</if>
            <if test="description != null"> and description like concat('%', #{description}, '%')</if>
            <if test="departmentId != null"> and department_id= #{departmentId}</if>
            <if test="time != null"> and time= #{time}</if>
        </where>
        order by id desc
    </select>

    <select id="selectById" resultType="com.example.entity.Activity">
        select
        <include refid="Base_Column_List" />
        from activity
        where id = #{id}
    </select>

    <delete id="deleteById">
        delete from activity
        where  id = #{id}
    </delete>

    <insert id="insert" parameterType="com.example.entity.Activity" useGeneratedKeys="true">
        insert into activity
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="name != null">name,</if>
            <if test="img != null">img,</if>
            <if test="description != null">description,</if>
            <if test="departmentId != null">department_id,</if>
            <if test="time != null">time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="name != null">#{name},</if>
            <if test="img != null">#{img},</if>
            <if test="description != null">#{description},</if>
            <if test="departmentId != null">#{departmentId},</if>
            <if test="time != null">#{time},</if>
        </trim>
    </insert>

    <update id="updateById" parameterType="com.example.entity.Activity">
        update activity
        <set>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="img != null">
                img = #{img},
            </if>
            <if test="description != null">
                description = #{description},
            </if>
            <if test="departmentId != null">
                department_id = #{departmentId},
            </if>
            <if test="time != null">
                time = #{time},
            </if>
        </set>
        where id = #{id}
    </update>

</mapper>